#questions{
  display: none;
  background-color: black;

}
#result{
  display: none;
}

.jumbotron{
  background-color: black;
  font-style: oblique;
  color: yellow;

}

.button{
  color: blue;
}

.well{
  background-color: black;
  color: white;
}

#button{
  text-align: center;
  color: blue;
  float: right;
}
